@import "../../mixins";

.navbar {
  width: 100%;
  height: 80px;
  background-color: rgb(0, 0, 0);
  color: whitesmoke;
  padding: 0 3rem;
  @include d-flex(row, space-between, center);


  .logo {
    width: 75%;
  }

  .brand {
    color: #fff;

  }

  .hamburger {
    display: none;
  }

  .menu {
    flex: 1;
    margin-left: 2rem;

    ul {
      @include d-flex(row, flex-start, center);
      gap: 1rem;

      .close {
        display: none;
      }

      li {
        a {
          color: whitesmoke;
          font-size: 18px;
          margin: 1.5rem;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .navbar {
    .brand {
      color: #fff;
    }

    .hamburger {
      display: block;
      margin-left: 1rem;
      cursor: pointer;
    }

    .menu {
      width: 100vh;
      height: 100vh;
      margin: 0;
      padding: 0;
      background-color: black;
      position: fixed;
      left: -100vh;
      top: 0;
      z-index: 3;
      transition: all 0.3s linear;

      &.open {
        left: 0;
      }

      ul {
        @include d-flex(column, center, center);
        height: 100%;
        gap: 3rem;
        position: relative;

        .close {
          display: block;
          position: absolute;
          top: 1rem;
          cursor: pointer;
          font-size: 30px;
        }
      }
    }
  }
}
