@import '../../mixins';

.delete-usuario{
    @include main-style();

    h1,h2,h3,h4,h5,h6{
        color: red;
        margin-top: 3rem;
    }

    Button {
        margin-top: 2rem;
        margin-left: 2rem;
    }
  
    
}