
@import '../../mixins';
.usuarios {
    @include main-style();


    .table-wrapper {
        width: 100%;
        overflow-x: auto;
        border: 1px solid rgb(214, 88, 15);
        box-shadow: 0 0 30px 2px rgb(214, 88, 15);
        padding: 1rem;
        border-radius: 12px;
        margin-top: 3rem;

        table {
            width: 100%;
            

            td, th {
                border: 1px solid rgba(156, 147, 147, 0.514);
                border-radius: 6px;
                text-align: center;
                height: 3rem;

            }


       
        }


    }
}